@import url('https://fonts.googleapis.com/css?family=Roboto');

.dropbtn {
    background-color: #CD5F31;
    color: white;
    padding: 16px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CD5F31;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #CD5F31}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #CD5F31;
}
