@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: abe;
    src: url(BebasNeue.otf);
}



body{

  background-color: #BCC1C4;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: 0;

}

#login {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  background-color: #BCC1C4;
  border: 3px solid #BCC1C4;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 3%;
  margin-bottom: 5%;
}

#login .car img{

  height: 150px;
  width: 300px;

}

#login .user .input1{


  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  border: 2px solid #e76b00;
  border-radius: 6px;
  background: white;
  margin-top: 15%;
  height: 40px;
}


#login .user .input1 input{

  height: 20px;
  width: 270px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  border: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  background-color: white;
  color: #e76b00;
  margin-left: 1%;;

}

#login .user .input1 input ::placeholder {

  color: #e76b00;
}

#login .user .input1 input :focus {

  outline: none;

}

#login .user .input1 img {

  width: 20px;
  margin-left: 3%;
  cursor: pointer;

}

#login .user .input1 form{

  width: 301px;

}

#login .password .input2{


  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  border: 2px solid #e76b00;
  border-radius: 6px;
  background: white;
  margin-top: 5%;
  height: 40px;
}

#login .password .input2 input{

  width: 295px;
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  border: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #e76b00;


}

#login .password .input2 input ::placeholder {

  color: #e76b00;
}

#login .password .input2 input :focus {

  outline: none;

}

#login .password .input2 img {

  width: 20px;
  margin-left: 3%;
  cursor: pointer;
}
#login .opciones{

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
          flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;


}

#login .opciones p{

  margin-bottom: 10px;
  color: white;
  font-family: abe;
  font-size: 26px;


}

#login .opciones a {

  color: white;
  font-family: abe;
  font-size: 18px;
  margin-left: 27%;


}

#login .boton .button {

  background-color: #e76b00;
  border: 2px solid #e76b00;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-family: abe;
  height: 50px;
  width: 300px;
  cursor: pointer;
  margin-top: 50px;
}

footer{

  width: 100%;
  margin-top: 100px;
  padding: .7%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  color: #e76b00;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1100px){

  main{
    margin-top: 50px;
  }
  #login{
    background-color: #BCC1C4;
    border: none;
    top:0;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
