/**************BY TEKVIA******************/

text{
  font-size: 8px;
}
h2{
  color: #424242;
}
table{
  margin-bottom: 45px!important;
}
.panelitox{
  margin-top: 55px;
  width: 100%;
  overflow-y: scroll;
}
.tablaSU{
  width: 90%!important;
}
.naranja{
  color: orange;
}
.naranjafondo{
  color: #fff!important;
  background-color: orange!important;
}
.mdContainer{
  margin-left: 20px!important;
}
.centroSU{
  text-align: center!important;
}
.maincillo{
  height: 100%;
}

.croquis1{
  width: 90%;
}
.largo{
height: 100px; 
}

#localesCorriente{
  display: none;
}
#localesDeuda{
  display: none;
}
#localesDisponibles{
  display: none;
}
#usuarios{
  display: none;
}
#croquis{
  display: none;
  width: 100%;
}
#configuracion{
  display: none;
}
